################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/TestStep.cs
/Test/Properties/Resources.resx
/Test/Properties/Resources.Designer.cs
/Test/Properties/launchSettings.json
/Test
/KitronGenericTestReports/bin/Release/net6.0/ZstdNet.dll
/KitronGenericTestReports/bin/Release/net6.0/Ubiety.Dns.Core.dll
/KitronGenericTestReports/bin/Release/net6.0/System.Windows.Extensions.dll
/KitronGenericTestReports/bin/Release/net6.0/System.Security.Permissions.dll
/KitronGenericTestReports/bin/Release/net6.0/System.Security.Cryptography.ProtectedData.dll
/KitronGenericTestReports/bin/Release/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Release/net6.0/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Release/net6.0/System.Configuration.ConfigurationManager.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win-x86/native/sni.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win-x64/native/sni.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win-arm64/native/sni.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Release/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Release/net6.0/MySql.Data.dll
/KitronGenericTestReports/bin/Release/net6.0/Microsoft.Win32.SystemEvents.dll
/KitronGenericTestReports/bin/Release/net6.0/K4os.Hash.xxHash.dll
/KitronGenericTestReports/bin/Release/net6.0/K4os.Compression.LZ4.Streams.dll
/KitronGenericTestReports/bin/Release/net6.0/K4os.Compression.LZ4.dll
/KitronGenericTestReports/bin/Release/net6.0/Google.Protobuf.dll
/KitronGenericTestReports/bin/Release/net6.0/BouncyCastle.Crypto.dll
/KitronGenericTestReports/bin/Debug/net6.0/ZstdNet.dll
/KitronGenericTestReports/bin/Debug/net6.0/Ubiety.Dns.Core.dll
/KitronGenericTestReports/bin/Debug/net6.0/System.Windows.Extensions.dll
/KitronGenericTestReports/bin/Debug/net6.0/System.Security.Permissions.dll
/KitronGenericTestReports/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/KitronGenericTestReports/bin/Debug/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Debug/net6.0/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/ZstdNet.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/Ubiety.Dns.Core.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/System.Windows.Extensions.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/System.Security.Permissions.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/System.Security.Cryptography.ProtectedData.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/System.Configuration.ConfigurationManager.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win-x86/native/sni.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win-x64/native/sni.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win-arm64/native/sni.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/MySql.Data.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/Microsoft.Win32.SystemEvents.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/KitronGenericTestReports.pdb
/KitronGenericTestReports/bin/Debug/net6.0/publish/KitronGenericTestReports.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/KitronGenericTestReports.deps.json
/KitronGenericTestReports/bin/Debug/net6.0/publish/K4os.Hash.xxHash.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/K4os.Compression.LZ4.Streams.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/K4os.Compression.LZ4.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/Google.Protobuf.dll
/KitronGenericTestReports/bin/Debug/net6.0/publish/BouncyCastle.Crypto.dll
/KitronGenericTestReports/bin/Debug/net6.0/MySql.Data.dll
/KitronGenericTestReports/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/KitronGenericTestReports/bin/Debug/net6.0/K4os.Hash.xxHash.dll
/KitronGenericTestReports/bin/Debug/net6.0/K4os.Compression.LZ4.Streams.dll
/KitronGenericTestReports/bin/Debug/net6.0/K4os.Compression.LZ4.dll
/KitronGenericTestReports/bin/Debug/net6.0/Google.Protobuf.dll
/KitronGenericTestReports/bin/Debug/net6.0/BouncyCastle.Crypto.dll
/KitronGenericTestReports/Properties/Resources.resx
/KitronGenericTestReports/Properties/Resources.Designer.cs
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.Properties.Resources.resources
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.csproj.GenerateResource.cache
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.csproj.CopyComplete
/KitronGenericTestReports/obj/Debug/net6.0/PublishOutputs.7782d8bdbf.txt
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.Properties.Resources.resources
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.csproj.GenerateResource.cache
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.csproj.CopyComplete
/.vs/KitronGenericTestReports/v16/.suo
/KitronGenericTestReports/obj/Release/net6.0/refint/KitronGenericTestReports.dll
/KitronGenericTestReports/obj/Release/net6.0/ref/KitronGenericTestReports.dll
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.pdb
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.GlobalUsings.g.cs
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.GeneratedMSBuildEditorConfig.editorconfig
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.dll
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.csproj.FileListAbsolute.txt
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.csproj.CoreCompileInputs.cache
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.csproj.BuildWithSkipAnalyzers
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.csproj.AssemblyReference.cache
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.assets.cache
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.AssemblyInfoInputs.cache
/KitronGenericTestReports/obj/Release/net6.0/KitronGenericTestReports.AssemblyInfo.cs
/KitronGenericTestReports/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/KitronGenericTestReports/obj/project.nuget.cache
/KitronGenericTestReports/obj/project.assets.json
/KitronGenericTestReports/obj/KitronGenericTestReports.csproj.nuget.g.targets
/KitronGenericTestReports/obj/KitronGenericTestReports.csproj.nuget.g.props
/KitronGenericTestReports/obj/KitronGenericTestReports.csproj.nuget.dgspec.json
/KitronGenericTestReports/obj/Debug/net6.0/refint/KitronGenericTestReports.dll
/KitronGenericTestReports/obj/Debug/net6.0/ref/KitronGenericTestReports.dll
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.pdb
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.GlobalUsings.g.cs
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.GeneratedMSBuildEditorConfig.editorconfig
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.dll
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.csproj.FileListAbsolute.txt
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.csproj.CoreCompileInputs.cache
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.csproj.BuildWithSkipAnalyzers
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.csproj.AssemblyReference.cache
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.assets.cache
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.AssemblyInfoInputs.cache
/KitronGenericTestReports/obj/Debug/net6.0/KitronGenericTestReports.AssemblyInfo.cs
/KitronGenericTestReports/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/KitronGenericTestReports/bin/Release/net6.0/KitronGenericTestReports.pdb
/KitronGenericTestReports/bin/Release/net6.0/KitronGenericTestReports.dll
/KitronGenericTestReports/bin/Release/net6.0/KitronGenericTestReports.deps.json
/KitronGenericTestReports/bin/Debug/net6.0/KitronGenericTestReports.pdb
/KitronGenericTestReports/bin/Debug/net6.0/KitronGenericTestReports.dll
/KitronGenericTestReports/bin/Debug/net6.0/KitronGenericTestReports.deps.json
/.vs/KitronGenericTestReports/v17/.suo
/.vs/KitronGenericTestReports/v17/.futdcache.v1
/.vs/KitronGenericTestReports/DesignTimeBuild/.dtbcache.v2
/KitronGenericTestReports.sln
/.vs/ProjectEvaluation/kitrongenerictestreports.projects.v5.1
/.vs/ProjectEvaluation/kitrongenerictestreports.projects.v5
/.vs/ProjectEvaluation/kitrongenerictestreports.metadata.v5.1
/.vs/ProjectEvaluation/kitrongenerictestreports.metadata.v5
/.vs/KitronGenericTestReports/v17/.futdcache.v2
/.vs/KitronGenericTestReports/FileContentIndex/read.lock
/.vs/KitronGenericTestReports/FileContentIndex/53d61449-e41e-424c-a882-dac97a7257bd.vsidx
/.vs/KitronGenericTestReports/FileContentIndex/c5d884c8-70f4-45da-aa49-a0b5fa509522.vsidx
/.vs/KitronGenericTestReports/FileContentIndex/3ec18261-f3ee-4d2b-bf08-d2e9f52d00c8.vsidx
/.vs/KitronGenericTestReports/FileContentIndex/1104aeee-02fc-4ec5-bbcb-55abbe6c0af6.vsidx
/KitronGenericTestReports/obj/GenericTestReport.csproj.nuget.g.targets
/KitronGenericTestReports/obj/GenericTestReport.csproj.nuget.g.props
/KitronGenericTestReports/obj/GenericTestReport.csproj.nuget.dgspec.json
/KitronGenericTestReports/obj/Debug/net6.0/GenericTestReport.GlobalUsings.g.cs
/KitronGenericTestReports/obj/Debug/net6.0/GenericTestReport.GeneratedMSBuildEditorConfig.editorconfig
/KitronGenericTestReports/obj/Debug/net6.0/GenericTestReport.csproj.AssemblyReference.cache
/KitronGenericTestReports/obj/Debug/net6.0/GenericTestReport.assets.cache
/KitronGenericTestReports/obj/Debug/net6.0/GenericTestReport.AssemblyInfoInputs.cache
/KitronGenericTestReports/obj/Debug/net6.0/GenericTestReport.AssemblyInfo.cs
/KitronGenericTestReports/GenericTestReport.csproj
/GenericTestReport.sln
/.vs/KitronGenericTestReports/FileContentIndex/d9ff2c9f-ee66-4abd-94ff-f35d7b1a8a6e.vsidx
/.vs/KitronGenericTestReports/FileContentIndex/5112b8c7-6339-4fed-9e2d-a5cf6cedea27.vsidx
/.vs/KitronGenericTestReports/FileContentIndex/4da1050a-1e8e-487d-a1d5-c38307d51f9b.vsidx
/.vs/KitronGenericTestReports/FileContentIndex/83e3452d-2deb-4398-b792-ec8e78679bbd.vsidx
/.vs/KitronGenericTestReports/FileContentIndex/8afe4700-ed2e-4507-a666-c489bd88c1be.vsidx
/.vs/GenericTestReport/v17/.suo
/.vs/GenericTestReport/FileContentIndex/read.lock
/.vs/GenericTestReport/FileContentIndex/efb717d1-d1ba-45af-8262-7815024cf09b.vsidx
/.vs/GenericTestReport/FileContentIndex/c43b3552-8537-4f42-ba3a-3c7119f7bb18.vsidx
*.v2
*.vsidx
*.1
*.dll
*.json
*.pdb
*.csproj
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.txt
*.editorconfig
*.resources
*.props
*.targets
*.resx
/GenericTestReport/Properties/Resources.Designer.cs
/GenericTestReport/obj/Release/net6.0/KitronGenericTestReports.GlobalUsings.g.cs
/GenericTestReport/obj/Release/net6.0/KitronGenericTestReports.AssemblyInfo.cs
/GenericTestReport/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/GenericTestReport/obj/Debug/net6.0/KitronGenericTestReports.GlobalUsings.g.cs
/GenericTestReport/obj/Debug/net6.0/KitronGenericTestReports.AssemblyInfo.cs
/GenericTestReport/obj/Debug/net6.0/GenericTestReport.GlobalUsings.g.cs
/GenericTestReport/obj/Debug/net6.0/GenericTestReport.AssemblyInfo.cs
/GenericTestReport/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/README.md
/GenericTestReport/obj/Release/net6.0/GenericTestReport.GlobalUsings.g.cs
/GenericTestReport/obj/Release/net6.0/GenericTestReport.AssemblyInfo.cs
/bfg.jar
*.lock
