################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test
/.vs
/README.md
/TestEngineering/bin
/TestEngineering/obj
/TestEngineering/Properties
/TestEngineering.Tests/bin
/TestEngineering.Tests/obj
/TestEngineering.Tests/Usings.cs