################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test
/.vs
/README.md
/ProductTestProcess.sln
/ProductTest/ProductTest.csproj
/ProductTest/bin
/ProductTest/obj
/ProductTest/Properties
/ProductTestTest/bin
/ProductTestTest/obj
/ProductTestTest/Usings.cs
/ProductTestTest/ProductTestTest.csproj